html {
  font-family: Ubuntu, sans-serif;
  background-color: #242524;
}

header {
  background-color: #fff;
}

div {
  background-color: #fff;
}

h2, h3 {
  background-color: #2EB2B6;
}

footer {
  background-color: #ED5276;
}

.get {
  background-color: #ED5276;
}

a {
  background-color: #F4CEA4;
}

nav a {
  background-color: #5CB6A4;
}
