html {
  font-family: Ubuntu, sans-serif;
  background-color: #242524;
}

.btn {
  background-color: #fff;
  border-color: #5CB6A4;
  color: #242524;
}

header {
  background-color: #fff;
}

div, section {
  background-color: #fff;
}

h1 {
  background-color: #2EB2B6;
}

h2, h3 {
  background-color: #ED5276;
}

footer, .address {
  background-color: #ED5276;
}

.btn-get {
  background-color: #fff;
  border-color: #ED5276;
  color: #242524;
}

a {
  border-color: #F4CEA4;
}

.more {
  color: #2EB2B6;
}
